streamlit
urllib3==1.21.1
requests-toolbelt==0.10.1
pyrebase4
streamlit-option-menu
google-cloud-firestore
streamlit-autorefresh
pyarrow
plotly
scipy
docx2txt
Pillow
PyPDF2
pdfplumber
pandasql
sqlalchemy==1.4.46
python-graphviz
pydot
